name: enough_mail_flutter_example
description: Example for enough_mail_flutter usage.
homepage: https://github.com/enough-software/enough_mail_flutter

environment:
  sdk: ">=2.12.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  enough_mail: ^2.0.0
  enough_mail_flutter: ^2.0.0
  enough_mail_html: ^2.0.0
  flutter:
    sdk: flutter
  url_launcher: ^6.1.6

dependency_overrides:
  # out-comment the following to enable local development:
  # enough_mail:
  #   git:
  #     url: https://github.com/Enough-Software/enough_mail.git
  #   path: ../enough_mail
  # enough_mail_html:
  #   git:
  #     url: https://github.com/Enough-Software/enough_mail_html.git
  #   path: ../enough_mail_html
  # enough_mail_flutter: ^2.0.0
  #   git:
  #     url: https://github.com/Enough-Software/enough_mail_flutter.git
  #   path: ../


dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
